@charset "utf-8";

/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,a,
abbr, acronym, address, big, cite, code,del, dfn,
em, img, ins, kbd, q, s, samp,small, strike,
strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend,table,
caption, tbody, tfoot, thead, tr, th, td,article,
aside, canvas, details, embed,figure, figcaption,
footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:focus-visible {
    outline: -webkit-focus-ring-color none 0px;
}
body {
	font-family: maxular,serif;
	font-weight: 400;
	font-style: normal;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-rows: auto auto auto;
	align-items: center;
	justify-items: center;
}
.nav {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-items: center;
	padding-top: 15px
}
.logo {
	height: 90px;
	justify-self: start;
	padding: 0 0 0 20px;
}
.logoimg {
	height: 90px;
}
.link-group{
	justify-self: end;
	padding-right: 20px;
}
a {
	cursor: pointer;
}
.link {
	font-family: amboy-black, sans-serif;
	font-weight: 400;
	font-size: 18pt;
	text-decoration: none;
	color: black;
}
.top-link {
	margin-left: 40px;
	padding: 7px 8px;
}
.intro {
	width: 80%;
	max-width: 700px;
	font-size: 23pt;
	text-align: center;
	margin: 150px 0 120px 0;
}
h1 {
	font-family: amboy-black, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25pt;
	text-align: center;
	max-width: 90%;
}
.fancy-undeline {
	background-image: linear-gradient(90deg, #f21d46 0%, #f21d46 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.25em;
	background-position-x: 0;
	background-position-y: 100%;
	transition: background-size 0.2s ease-in;
	
}
@media (hover: hover) {
	.fancy-undeline:hover {
		background-size: 100% 100% !important;
	}
	.flex-item:hover{
		transform: translateX(-4px);
		transform: translateY(-4px);
		box-shadow: 3px 3px 20px rgba(0, 0, 0, .3);
	}
  }
#flexcontainer {
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 10px 0 0 0;
	max-width: 1500px;
}
.flex-item {
	max-width: 400px;
	max-height: 400px;
	margin: 20px;
	transition: all 0.3s;
}
.flex-item img{
	width: 100%;
	height: 100%;
}
#fluxpage .fancy-undeline {
	background-image: linear-gradient(90deg, #41b3c8, #41f9c0 100%);
}
#macawpage .fancy-undeline {
	background-image: linear-gradient(90deg, #2584BB, #2584BB 100%);
}
#pacificpage .fancy-undeline {
	background-image: linear-gradient(90deg, #d9c8e8, #d9c8e8 100%);
}
#karenspage .fancy-undeline {
	background-image: linear-gradient(90deg, #F6C6D3, #F6C6D3 100%);
}
#watchingpage .fancy-undeline {
	background-image: linear-gradient(90deg, #7ac37f, #7ac37f 100%);
}
#hartleypage .fancy-undeline {
	background-image: linear-gradient(90deg, #feae63, #feae63 100%);
}

.slight-shaddow {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}
#footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	align-items: center;
	justify-items: center;
	margin-bottom: 25px;
}
.footer-text{
	grid-column: 1;
	grid-row: 2;
	font-family: amboy-black, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18pt;
	align-self: end;
	margin: 15px 0 17px 0;
	padding: 7px 8px;
	text-decoration: none;
	color: black;
}
.social{
	font-size: 40px;
	color: black;
	text-decoration: none;
	padding: 0 7px;
}
.social-links{
	grid-column: 1;
	grid-row: 3;
	align-self: start;
}
.project-h1 {
	padding: 30px 0 30px 0;
}
#home .project-h1 {
	padding: 30px 0 10px 0;
}
.project-desc {
	font-family: maxular, serif;
	font-weight: 200;
	font-style: normal;
	font-size: 20px;
	max-width: 800px;
	width: 90%;
	line-height: 25px;
	margin-bottom: 60px;
}
.bold {
	font-weight: 600;
}
#project-preview {
	width: 90%;
	max-width: 950px;
	margin: 0 auto;
	display: grid;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}
.project-image {
	width: 100%;
}
.project-space {
	height: 10px;
}

/* Instagram size projects */
#instacontainer {
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 90%;
	max-width: 950px;
	margin: 20px 0 -20px 0;
}
.insta-item {
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 400px;
	margin: 20px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

/* Social Icon Colors */
.fa-linkedin {
	color:#0072b1;
}
.fa-instagram-square {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent; 
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
}
.fa-square-dribbble {
	color: #ea4c89;
}
.fa-square-whatsapp {
	color: #25D366;
}
#about {
	height: 100vh;
}
#about #wrapper {
	height: 100vh;
	grid-template-rows: 105px auto;
}
.notready {
	width: 30%;
	align-self: end;
}
.garfield {
	height: 100%;
	width: 100%;
	margin: -8px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
	.logo {
		height: 70px;
	}
	.logoimg {
		height: 70px;
	}
	.link-group{
		padding-right: 20px;
	}
	.link {
		font-size: 18pt;
		text-decoration: none;
		color: black;
	}
	.top-link {
		margin-left: 10px;
		padding: 7px 8px;
	}
	.intro {
		font-size: 18pt;
		margin: 100px 0 70px 0;
	}
	h1 {
		font-size: 28pt;
	}
	#flexcontainer {
		display:flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin: 0 0 0px 0;
		max-width: 1500px;
	}
	#footer {
		margin-bottom: 20px;
	}
	.footer-text{
		font-size: 18pt;
		margin-bottom: 15px;
		padding: 7px 8px;
	}
	.social{
		font-size: 45px;
		padding: 0 5px;
	}
	.project-h1 {
		padding: 30px 0 25px 0;
	}
	.project-desc {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 40px;
	}
	.project-space {
		height: 10px;
	}
	.fancy-undeline {
		background-position-x: 0;
		background-position-y: 100%;
	}
	.flex-item {
		max-width: 400px;
		max-height: 400px;
		margin: 10px 20px;
		transition: all 0.3s;
	}
	#about #wrapper {
		height: 100vh;
		grid-template-rows: 85px auto;
	}
	.notready {
		width: 60%;
	}
	.garfield {
		margin: -7px;
	}
}
@media only screen and (max-width: 350px) {
	.logo {
		height: 60px;
		justify-self: center;
		padding: 0;
	}
	.logoimg {
		height: 60px;
	}
	.nav {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}
	.link-group{
		justify-self: center;
		padding-top: 20px;
		padding-right: 0px;
	}
	.top-link {
		margin-left: 0px;
		margin: 10px
	}
	.intro {
		font-size: 15pt;
		text-align: center;
		margin: 70px 0 40px 0;
	}
	h1 {
		font-size: 20pt;
	}
	#footer {
		margin-bottom: 15px;
	}
	.footer-text{
		font-size: 16pt;
	}
	.social {
		font-size: 35px;
		padding: 0 7px;
	}
}