@charset "utf-8";

/* CSS Document */
:root {
	--main-color: #FF3B83;
	--flux-color: linear-gradient(90deg, #41b3c8, #41f9c0 100%);
	--macaw-color: linear-gradient(90deg, #2584BB, #2584BB 100%);
	--pacific-color: linear-gradient(90deg, #d9c8e8, #d9c8e8 100%);
	--karens-color: linear-gradient(90deg, #F6C6D3, #F6C6D3 100%);
	--watching-color: linear-gradient(90deg, #7ac37f, #7ac37f 100%);
	--hartley-color: linear-gradient(90deg, #feae63, #feae63 100%);
}

:focus-visible {
	outline: -webkit-focus-ring-color none 0px;
}

body {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	font-style: normal;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-rows: auto auto auto;
	align-items: center;
	justify-items: center;
}

/* floating button */
.float {
	position: fixed;
	width: 55px;
	height: 55px;
	bottom: 20px;
	left: 20px;
	background-color: var(--main-color);
	color: #FFF;
	border-radius: 7px;
	text-align: center;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
	font-size: 30px;
	z-index: 50;
}

.my-float {
	margin-top: 13px;
}

/* Navigation */
.nav {
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-items: center;
	padding-top: 25px
}

.logo {
	height: 65px;
	justify-self: start;
	padding: 0 0 0 40px;
}

.logoimg {
	height: 65px;
}

.link-group {
	justify-self: end;
	padding-right: 40px;
}

a {
	cursor: pointer;
}

.link {
	font-family: 'Magnum', sans-serif;
	font-weight: 400;
	font-size: 20pt;
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 5px;
}

.top-link {
	margin-left: 40px;
	padding: 10px 15px;
}

.intro {
	width: 80%;
	max-width: 700px;
	font-size: 20pt;
	line-height: 27px;
	text-align: center;
	margin: 150px 0 100px 0;
}

h1 {
	font-family: 'Magnum', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 29pt;
	text-align: center;
	max-width: 90%;
}

@media (hover: hover) {
	.flex-item:hover {
		transform: translateX(-4px);
		transform: translateY(-4px);
		box-shadow: 3px 3px 20px rgba(0, 0, 0, .3);
	}
}

#flexcontainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px 0 0 0;
	max-width: 1500px;
}

.flex-item {
	max-width: 400px;
	max-height: 400px;
	margin: 12px;
	transition: all 0.3s;
}

.flex-item img {
	width: 100%;
	height: 100%;
}


#fluxpage .float {
	background-image: var(--flux-color);
}

#macawpage .float {
	background-image: var(--macaw-color);
}

#pacificpage .float {
	background-image: var(--pacific-color);
}

#karenspage .float {
	background-image: var(--karens-color);
}

#watchingpage .float {
	background-image: var(--watching-color);
}

#hartleypage .float {
	background-image: var(--hartley-color);
}

.slight-shadow {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

#footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	align-items: center;
	justify-items: center;
}

.social {
	font-size: 60px;
	color: black;
	padding: 0px 10px;
}

#social-links {
	grid-column: 1;
	grid-row: 3;
	align-self: start;
	padding: 10px;
	margin-bottom: 20px;
}

.footer-title {
	width: 100%;
	padding: 30px 0 30px 0;
	display: grid;
	grid-template-columns: 1fr auto auto 1fr;
	align-items: center;
}

.footer-img {
	height: 80px;
	justify-self: start;
	grid-column: 3;
}

.project-h1 {
	padding: 50px 0 30px 0;
}

.flex-h1 {
	padding: 50px 0 15px 0;
}

.project-desc {
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	max-width: 800px;
	width: 90%;
	line-height: 22px;
	margin-bottom: 50px;
}

.bold {
	font-weight: 600;
}

#project-preview {
	width: 90%;
	max-width: 950px;
	margin: 0 auto;
	display: grid;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

.project-image {
	width: 100%;
}

.project-space {
	height: 10px;
}

.aboutgrid {
	width: 100%;
	max-width: 1000px;
	margin: 50px 0 40px 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
}

.profilepic {
	max-width: 300px;
	margin: 20px 20px 0 20px;
}

.about {
	width: 90%;
	font-size: 16pt;
	text-align: left;
	padding: 0 20px 0 0;
	align-self: end;
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	line-height: 22px;
}

/* Instagram size projects */
#instacontainer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 90%;
	max-width: 950px;
	margin: 20px 0 -20px 0;
}

.insta-item {
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 400px;
	margin: 20px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
	.float {
		display: none;
	}

	.my-float {
		display: none;
	}

	.logoimg {
		height: 60px;
	}

	.logo {
		height: 60px;
		justify-self: center;
		padding: 0;
	}

	.nav {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	.link {
		font-size: 20pt;
		border-radius: 5px;
	}

	.top-link {
		margin-left: 0px;
		padding: 9px 13px;
	}

	.link-group {
		justify-self: center;
		padding-top: 30px;
		padding-right: 0px;
	}

	.top-link {
		margin: 0;
	}

	.intro {
		font-size: 16pt;
		line-height: 24px;
		margin: 90px 0 70px 0;
	}

	h1 {
		font-size: 25pt;
	}

	#flexcontainer {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0px 0;
		max-width: 1500px;
	}

	.project-h1 {
		padding: 45px 0 20px 0;
	}

	.flex-h1 {
		padding: 40px 0 10px 0;
	}

	.footer-title {
		padding: 30px 0 10px 0;
	}

	.footer-h1 {
		width: 120px;
		padding: 0 7px 0 0;
	}

	.footer-img {
		height: 36px;
	}

	.project-desc {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 40px;
	}

	.project-space {
		height: 10px;
	}

	.flex-item {
		max-width: 400px;
		max-height: 400px;
		margin: 10px 20px;
		transition: all 0.3s;
	}

	.aboutgrid {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	.about {
		padding: 20px;
		font-size: 16pt;
	}

	.profilepic {
		width: 70%;
		max-width: 300px;
		margin: 20px;
	}

	.social {
		font-size: 55px;
		padding: 0px 5px;
		text-decoration: none;
	}

	#social-links {
		margin-bottom: 10px;
	}

	.footer-title {
		padding: 30px 0 30px 0;
	}

	.footer-img {
		height: 70px;
	}
}

@media only screen and (max-width: 350px) {
	.logo {
		height: 45px;
		justify-self: center;
		padding: 0;
	}

	.logoimg {
		height: 45px;
	}

	.nav {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	}

	.link {
		font-size: 16pt;
		border-radius: 5px;
	}

	.link-group {
		justify-self: center;
		padding-top: 30px;
		padding-right: 0px;
	}

	.top-link {
		margin: 0;
	}

	.intro {
		font-size: 13pt;
		line-height: 19px;
		margin: 70px 0 30px 0;
	}

	h1 {
		font-size: 18pt;
	}

	.social {
		font-size: 40px;
		padding: 0 3px;
		text-decoration: none;
	}

	.footer-h1 {
		width: 120px;
		padding: 0 7px 0 0;
	}

	.project-desc {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 40px;
	}

	.project-space {
		height: 10px;
	}

	.about {
		padding: 20px;
		font-size: 14pt;
		line-height: 18px;
	}

	.profilepic {
		width: 70%;
		max-width: 300px;
		margin: 20px;
	}

	.footer-title {
		padding: 20px 0 20px 0;
	}

	.footer-img {
		height: 50px;
	}
}